<!DOCTYPE html>
<html>

<head>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- 부트스트랩 -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/custom.css"/>
	<style>
	@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
	@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
	@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
	</style>
</head>

<body>
  <!--내비게이션 바 / 메뉴출력 -->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
          data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">스마트 주차</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
              aria-haspopup="true" aria-expanded="false">접속하기<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="login">로그인</a></li>
              <li><a href="register">회원가입</a></li>
            </ul>
          </li>
				</ul>
      </div>
    </div>
  </nav>

  <!-- 로그인 form-->
  <div class="container">
		<table class="table table-bordered table-hover" style="text-align: center; border: 1px solid #dddddd">
			<thead>
				<tr>
					<th colspan="2"><h4>로그인</h4></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td style="width: 110px;"><h5>차량번호</h5></td>
					<td><input class="form-control" type="text" id="Carnumber" placeholder="차량번호" value="">
				</tr>

				<tr>
					<td style="width: 110px;"><h5>비밀번호</h5></td>
					<td><input class="form-control" type="password" id="password" placeholder="비밀번호" value="">
				</tr>

				<tr>
					<td style="text-align: left;" colspan="3"><input class="btn btn-primary pull-right" onClick="login()" type="button" value="로그인">
				</tr>
  </div>

		<script type="text/javascript" src="/lib/bignumber.min.js"></script>
		<script type="text/javascript" src="/lib/web3-light.js"></script>
		<script type="text/javascript" src="/javascript/callWeb3.js"></script>
		<script type="text/javascript" src="/javascript/login.js"></script>
		<script type="text/javascript">

</script>
  	<!-- /container -->
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  	<!-- 모든 컴파일된 플러그인을 포함합니다 (아래), 원하지 않는다면 필요한 각각의 파일을 포함하세요 -->
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

  </body>

</html>
