<!DOCTYPE html>
<html>

<head>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- 부트스트랩 -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/custom.css"/>
	<style>
	@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
	@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
	@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
	</style>
</head>
<body>
  <!--내비게이션 바 / 메뉴출력 -->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
          data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">스마트 주차</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
          <li><a href="/">처음으로</a></li>
				</ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
              aria-haspopup="true" aria-expanded="false">접속하기<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="login">로그인</a></li>
              <li><a href="register">회원가입</a></li>
            </ul>
          </li>
				</ul>
			</div>
    </div>
  </nav>
	<div class="container">
		<div class="row">
			<div class="col-xs-15">
				<div class="panel" >
					<div class="panel-heading" style="background-color: #006DCC;">
						<h3 class="panel-title" style="text-align: center; color: white">나의 차량정보</h3>
					</div>
					<div class="panel-body">
						<div class="media">
							<div class="media-left">
									<img class="media-object" src='/images/Car.jpeg' alt="나의 차">
							</div>
							<div class="media-body">

								<table class="table" style="text-align: center; border: 1px solid #dddddd">
									<thead>
										<tr>
											<th>차량 번호</th>
											<th>차량 종류</th>
											<th>이더리움 계좌</th>
											<th>보유 이더</th>
										</tr>
									</thead>
									<tbody id="InfoCar">

									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>

				<table class="table" style="text-align: center; border: 1px solid #dddddd">
					<thead>
						<tr style="background-color : #006DCC; color: white; text-align: center;">
							<th colspan="2">이더구매</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td style="width: 300px;"><h5>구매량</h5></td>
							<td><input class="form-control" type="text" id="Buyamount" placeholder="코인 구매량을 입력해주세요" value="">
						</tr>
						<tr>
						<td style="text-align: left;" colspan="3"><input class="btn btn-register pull-right" onClick="Buycoin()" type="button" value="구매">
						</tr>
					</tbody>
				</table>

			<table class="table" style="text-align: center; border: 1px solid #dddddd">
				<thead>
					<tr style="background-color : #006DCC; color: white; text-align: center;">
						<th>주차 위치</th>
						<th>주차 시작시간</th>
						<th>주차 종료시간</th>
						<th>주차 사용시간</th>
						<th>지불 금액</th>
					</tr>
				</thead>
				<tbody id="InfoParking">
				</tbody>
			</table>
			<td style="text-align: left;" colspan="3"><input class="btn btn-register pull-right" onClick="OutCar()" type="button" value="출차">
		</div>
	</div>
</div>

	<script type="text/javascript" src="/lib/bignumber.min.js"></script>
	<script type="text/javascript" src="/lib/web3-light.js"></script>
	<script type="text/javascript" src="/javascript/callWeb3.js"></script>
	<script type="text/javascript" src="/javascript/parking.js"></script>
	<script type="text/javascript">
	//등록된 차량 출력(테스트용)
	function showList(){

//-------------------차량 번호 및 이더계좌 table 출력-----------------------------
		var Carnumber = getQuerystring('Carnumber');

		var CarType = Parking.getCarType(Carnumber);
		var Carowner = Parking.getCarOwner(Carnumber);
		var MyEther = web3.fromWei(web3.eth.getBalance(Carowner));

		var InfoCartable = document.getElementById("InfoCar");
		var row=InfoCartable.insertRow();
		var cell1=row.insertCell(0);
		var cell2=row.insertCell(1);
		var cell3=row.insertCell(2);
		var cell4=row.insertCell(3);

		cell1.innerHTML = Carnumber;
		cell2.innerHTML = CarType;
		cell3.innerHTML = Carowner;
		cell4.innerHTML = parseInt(MyEther);

//------------------------------------------------------------------------------

//-------------------------주차정보 table 출력----------------------------------


		var getSensedTime = Parking.getSensedTime(Carnumber);
		var SenseedTime = new Date(getSensedTime);
		var PrintSensedTimestamp = getTimeStamp(SenseedTime);

		var getOutTime = Parking.getOutTime(Carnumber);
		var OutTime = new Date(getOutTime);
		var PrintOutTimestamp = getTimeStamp(OutTime);

		var UsingTime = Parking.getUsingTime(Carnumber);
		var PrintUsingTime = UsingTime / 1000;

		var price = Parking.getPrice(Carnumber);

		var ParkLocation = Parking.getParkLocation(Carnumber);

		var InfoParkingtable = document.getElementById("InfoParking");
		var row=InfoParkingtable.insertRow();
		var cell1=row.insertCell(0);
		var cell2=row.insertCell(1);
		var cell3=row.insertCell(2);
		var cell4=row.insertCell(3);
		var cell5=row.insertCell(4);

		cell1.innerHTML = ParkLocation;
		cell2.innerHTML = PrintSensedTimestamp;
		cell3.innerHTML = PrintOutTimestamp;
		cell4.innerHTML = parseInt(PrintUsingTime) + "초";
		cell5.innerHTML = parseInt(price);

//------------------------------------------------------------------------------
	}

//---------------------타임스탬프 출력-------------------------------------------

	function getTimeStamp(CurrentTime) {
	  var s =
	    leadingZeros(CurrentTime.getFullYear(), 4) + '-' +
	    leadingZeros(CurrentTime.getMonth() + 1, 2) + '-' +
	    leadingZeros(CurrentTime.getDate(), 2) + ' ' +

	    leadingZeros(CurrentTime.getHours(), 2) + ':' +
	    leadingZeros(CurrentTime.getMinutes(), 2) + ':' +
	    leadingZeros(CurrentTime.getSeconds(), 2);

	  return s;
	}
	function leadingZeros(n, digits) {
	  var zero = '';
	  n = n.toString();
	  if (n.length < digits) {
	    for (i = 0; i < digits - n.length; i++)
	      zero += '0';
	  }
	  return zero + n;
	}
//-----------------------------------------------------------------

	showList();

	</script>
	<!-- /container -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<!-- 모든 컴파일된 플러그인을 포함합니다 (아래), 원하지 않는다면 필요한 각각의 파일을 포함하세요 -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</body>

</html>
